.title {
	text-align: center;
	background-color: #00b3b3;
	color: #ffffe6;

}

.title.big {
	font-size: 40px;
}

div {
	font-family: "Papyrus", "Copperplate", Times New Roman;
	font-size: 20px;
	text-align: center;
	list-style-position: inside;
}

#bigger {
	font-size: 25px;
}
#biggest{
	font-size: 30px;
	font-weight: bolder;
}

.center {
	text-align: center;
}
img {
	width: 500px;
	height: auto;
}

.background {
	background-color: #d6f5d6;
}
